<div class="container"></div>
    <h2 id="menu-categories-title" class="text-center">
        Sign Up
    </h2>
    
    <form ng-submit="submitForm()" ng-controller="SignUpController">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" ng-model="firstName" required>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" ng-model="lastName" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" ng-model="email" required>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="tel" class="form-control" id="phone" name="phone" ng-model="phone" required>
        </div>

        <div class="form-group">
            <label for="favoriteDish">Favorite Dish:</label>
            <input type="text" class="form-control" id="favoriteDish" name="favoriteDish" ng-model="favoriteDish" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div ng-show="completed" class="alert alert-success">
            Your information has been saved.
        </div>
    </form>
</div>
</div>
  