body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.large-header {
  text-align: center;
  font-size: 175%;
}

.menu-container {
  padding: 20px;
}

.menu-item-header {
  float: right;
  box-sizing: border-box;
  width: 33.33333333%;
  text-align: center;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  background-color: yellowgreen;
}

.menu-item-description {
  float:left;
  width: 100%;
  color: black;
}

p {
  margin: 0;
  padding: 20px;
}

.menu-item {
  overflow-y: auto;
  height: 200px;
  border: 20px solid white;
  background-color: rgb(173, 230, 194);
  color: rgb(193, 20, 20);
  float: left;
}

h2 {
  font-size: 125%;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  width: 90%;
  float: left;
}

.small-header {
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
  display: none;
}

.lg-menu-header-text {
  display: inline-block;
}

.sm-menu-header-text {
  display: none;
}

@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    box-sizing: border-box;
    width: 33.33333333%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2 {
    float: left;
    box-sizing: border-box;
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .large-header {
    display: none;
  }
  .small-header {
    display: block;
  }
  .col-sm-1 {
    float: left;
    box-sizing: border-box;
    width: 100%;
  }
  .menu-item-header {
    width: 100%;
    text-align: center;
    border-left: 0;
  }
  .sm-menu-header-text {
    display: inline-block;
  }
  .lg-menu-header-text {
    display: none;
  }
}
