<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
<body ng-app="NarrowItDownApp" ng-controller="NarrowItDownController as ctrl">
   <div class="container">
      <h1>Narrow Down Your Chinese Menu Choice</h1>
      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="ctrl.searchTerm">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="ctrl.narrowItDown()">Narrow It Down For Me!</button>
      </div>
      <div class="menu-items">
        <ul>
          <li class="menu-item" ng-repeat="item in ctrl.found">
            {{ item.name }} - {{ item.description }}
            <button ng-click="ctrl.removeItem($index)"> I don't want this one!</button>
          </li>
        </ul>
      </div>
    </div>
  
   <script>
      angular.module('NarrowItDownApp', [])
        .controller('NarrowItDownController', NarrowItDownController)
        .service('MenuSearchService', MenuSearchService)
        
        NarrowItDownController.$inject = ['MenuSearchService'];
        function NarrowItDownController(MenuSearchService) {
          var menu = this;
          menu.found = [];
          menu.searchTerm = '';
          menu.narrowItDown = function() {
            var promise = MenuSearchService.getMatchedMenuItems(menu.searchTerm);
            promise.then(function(response) {
              console.log(response);
              menu.found = response;
            });
          };
          menu.removeItem = function(index) {
            menu.found.splice(index, 1);
          };
        }

        MenuSearchService.$inject = ['$http'];
        function MenuSearchService($http) {
          var service = this;
          service.getMatchedMenuItems = function(searchTerm) {
            return $http({
              method: 'GET',
              url: 'https://coursera-jhu-default-rtdb.firebaseio.com/menu_items.json'
            }).then(function(result) {
              var foundItems = [];
              Object.values(result.data).forEach(({menu_items}) => {
                menu_items.forEach(item => {
                  foundItems.push(item);
                });
              })
              foundItems = foundItems.filter(function(item) {
                return item.description.indexOf(searchTerm) !== -1;
              });
              return foundItems;
            });
          };
        }

   </script>
</html>
</body>
</html>
