<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
  <div class="container" ng-app="myApp" ng-controller="myCtrl">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6">
      <h2>To Buy:</h2>
      <ul>
        <li ng-repeat="item in toBuyList">Buy {{item.quantity}} {{item.name}} <button class='btn btn-default' ng-click='buy($index)'><span class='glyphicon glyphicon-ok'></span> Bought</button></li>
      </ul>
      
      <div class="emptyMessage"> {{emptyMessage}} </div>
    </div>
    <!-- Already Bought List -->
    <div class="col-md-6">
     <h2>Already Bought:</h2>
      <ul>
        <li ng-repeat="item in boughtList">Bought {{item.quantity}} {{item.name}} for Total Price: $$${{item.quantity * item.pricePerItem}}</li>
      </ul>
     
     </ul>
     <div class="emptyMessage"> {{boughtListMessage}} </div>
    </div>
  </div>
</div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.toBuyList = [
        { name: "cookies", quantity: 10, pricePerItem: 5 },
        { name: "milk", quantity: 5, pricePerItem: 7 },
        { name: "coke", quantity: 10, pricePerItem: 2 },
        { name: "bread", quantity: 10, pricePerItem: 1 },
        { name: "coconut", quantity: 7, pricePerItem: 8 }
      ];

      $scope.emptyMessage = "";
      $scope.boughtList = [];
      $scope.boughtListHtml = $scope.boughtList.map(function(item) {
        return "<li>Bought " + item.quantity + " " + item.name;
      }).join("");
      $scope.boughtListMessage = "Nothing bought yet.";

      $scope.toBuyListHtml = $scope.toBuyList.map(function(item, index) {
        return `<li>Buy ${item.quantity} ${item.name} <button class='btn btn-default' ng-click='buy(${index})'><span class='glyphicon glyphicon-ok'></span> Bought</button></li>`;
      }).join("");

      $scope.buy = function(index) {
        $scope.boughtList.push($scope.toBuyList[index]);
        $scope.toBuyList.splice(index, 1);
        if ($scope.toBuyList.length == 0) {
          $scope.emptyMessage = "Everything is bought!";
        }
        if($scope.boughtList.length > 0) {
          $scope.boughtListMessage = "";
        }
      };
    });

  </script> 

</body>
</html>
