<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
   <div class="container" ng-app="myApp" ng-controller="myCtrl">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             ng-model="lunchItems"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button ng-click="myFunc()" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
          {{ message }}
         </div>
   </div>

   <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.message = ""; // $scope.lunchItems.split(',').length > 3 ? "Too much!" : "Enjoy!";
        $scope.myFunc = function() {
          console.log("wefwefwe")
          $scope.message = $scope.lunchItems? ($scope.lunchItems.split(',').length > 3 ? "Too much!" : "Enjoy!"): 'Please enter data first';
    };
    });
    </script> 

</body>
</html>
